#add-form {
  padding: 1em 3em;
}

#add-form h2 {
  border-bottom: 1px solid black;
}

#add-form .ui.form {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}

#add-form .sub.header {
  padding-top: 0.5em;
}

#add-form label {
  font-size: 1em;
}

#add-form input[type="date"] {
  height: 2.71428571em;
}

#add-form .ui.form .field > .field {
  margin-bottom: 0;
}

#add-form .x-icon {
  position: absolute;
  bottom: 11px;
  right: 28px;
  background-color: #dde0e8;
  font-size: 16px;
  cursor: pointer;
}

#add-form .buttons-div {
  padding: 1em;
}

#add-form .clear-button {
  min-width: 120px;
  border-radius: 500rem;
  padding: 1em 1.5em;
  background-color: rgb(29, 62, 102);
  color: white;
}

#add-form .submit-button {
  min-width: 120px;
  border-radius: 500rem;
  padding: 1em 1.5em;
  background-color: #C1D9B1;
  color: rgb(29, 62, 102);
}

#add-form input, .ui.selection.dropdown, textarea {
  font-family: Lato;
  background-color: #dde0e8 !important;
}

#add-form ::placeholder {
  color: grey;
}

#add-form .ui.dropdown:not(.button) > .default.text, .ui.default.dropdown:not(.button) > .text {
  color: grey
}

#add-form .ui.form .fields {
  align-items: flex-end;
  margin-bottom: 0;
}

#add-form .ui.form .fields .quantity {
  flex: 3 1 0;
  width: 0;
}

#add-form .ui.form .fields .unit {
  flex: 1 3 0;
  width: 0;
}

/* the checkbox */
#add-form .checkbox-column {
  align-self: center;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  #add-form .filler-column {
    display: none;
  }

  #add-form .x-icon {
    bottom: 25px;
  }
}
