#dispense-form {
  padding: 1em 3em;
}

#dispense-form h2 {
  border-bottom: 1px solid black;
}

#dispense-form .ui.form {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}

#dispense-form .sub.header {
  padding-top: 0.5em;
}

#dispense-form label {
  font-size: 1em;
}

#dispense-form input[type="date"], input[type="datetime-local"] {
  height: 2.71428571em;
}

#dispense-form .ui.form .field > .field {
  margin-bottom: 0;
}

/*#dispense-form .x-icon {*/
/*  position: absolute;*/
/*  bottom: 11px;*/
/*  right: 28px;*/
/*  background-color: #dde0e8;*/
/*  font-size: 16px;*/
/*  cursor: pointer;*/
/*}*/

#dispense-form .buttons-div {
  padding: 1em;
}

#dispense-form .clear-button {
  min-width: 120px;
  border-radius: 500rem;
  padding: 1em 1.5em;
  background-color: rgb(29, 62, 102);
  color: white;
}

#dispense-form .submit-button {
  min-width: 120px;
  border-radius: 500rem;
  padding: 1em 1.5em;
  background-color: #C1D9B1;
  color: rgb(29, 62, 102);
}

#dispense-form input, .ui.selection.dropdown, textarea {
  background-color: #dde0e8 !important;
}

#dispense-form ::placeholder {
  color: grey;
}

#dispense-form .ui.dropdown:not(.button) > .default.text, .ui.default.dropdown:not(.button) > .text {
  color: grey
}

#dispense-form .ui.form .fields {
  align-items: flex-end;
  margin-bottom: 0;
}

#dispense-form .ui.form .fields .quantity {
  flex: 3 1 0;
  width: 0;
}

#dispense-form .ui.form .fields .unit {
  flex: 1 3 0;
  width: 0;
}

#dispense-form .ui.inline.dropdown {
  margin-right: 10px;
  padding: 0 10px;
  background-color: rgb(29, 62, 102);
  color: white;
  border-radius: 500em;
}

#dispense-form .ui.inline.dropdown .menu.transition {
  width: 100%;
}

#dispense .ui.tabular.menu {
  padding-right: 25%;
}

#dispense .ui.tabular.menu .item {
  flex: 1 1 0;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  #dispense-form .filler-column {
    display: none;
  }

  #dispense-form .x-icon {
    bottom: 25px;
  }
}
