#signOutPage {
  background-image: url('../images/logout.png');
  background-repeat: repeat-y;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#color-overlay {
  background: rgb(115,129,105);
  background: linear-gradient(0deg, rgba(115,129,105,1) 0%, rgba(158,177,145,1) 7%, rgba(196,218,180,1) 31%, rgba(194,217,178,1) 42%, rgba(200,221,185,1) 100%);
}

#signOutPage h1{
  text-align: right;
  color: white;
  text-shadow: 1px 1px 2px #738169;
}
#signOutPage h2{
  text-align: left;
  color: white;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px #738169;
}

#signOutPage h3 {
  font-size: 9.5em;
  color: white;
  text-shadow: 1px 1px 2px #738169;
}